html {background-color: gainsboro;}
body {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:darkolivegreen;
  }
 li {color: darkolivegreen; font-size: medium;}
a {color:darkred;}







