html {background-color: gainsboro;}
body {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:darkolivegreen;
    margin-left: 20px;
  }
li {
  color: darkolivegreen; 
  font-size: medium;
}
a {color:darkred;}
header {text-align: center; background-color:darkolivegreen; color: antiquewhite; padding: 30px;}
section {padding: 10px; border: 50px; margin: 20px;}
footer {margin-bottom: 50px; margin-left: 20px;}
#profile-picture {width: 200px; height: 300x; border-radius: 50%;}
#hero {background-image: url(/Pics/HeroImage2.jpg)}









